<span class="ion-close" ui-sref="home"></span>
<div>
    <img class="thumb" src="{{caseStudy.currentCaseStudyObject.thumbImage}}">
    <h2>Project Name: {{caseStudy.currentCaseStudyObject.Project}}</h2>
    <p>Summary: {{caseStudy.currentCaseStudyObject.Summary}}</p>
    <p>Problem: {{caseStudy.currentCaseStudyObject.Problem}}</p>
    <p>Solution: {{caseStudy.currentCaseStudyObject.Problem}}</p>
    <p>Results: {{caseStudy.currentCaseStudyObject.Results}}</p>
    <p>Conclusion: {{caseStudy.currentCaseStudyObject.Conclusion}}</p>
</div>
